# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Poetry
.poetry/
poetry.lock

# VS Code
.vscode/

# Logs and temporary files
*.log
*.tmp
*.bak

# OS-specific
.DS_Store
Thumbs.db
